.bg-frame {
    background-color: rgba(0, 38, 255, 0.186);
}
.b-header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.b-content {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: fit-content;
}
.b-menu {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

span.anticon.anticon-menu-fold {
    color: aliceblue;
}
span.anticon.anticon-menu-unfold {
    color: aliceblue;
}
