.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url("../../assets/image/2_2.jpg");
    background-size: cover;
}

.box-header-nav {
    padding: 60px;
    background-color: rgb(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
        rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
        rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;

    border-radius: 30px;
}

ul li {
    list-style-type: none;
    font-size: 16px;
}

svg.svg-inline--fa.fa-circle-check {
    color: rgb(255, 255, 255);
}
.home-title {
    font-size: 45px;
    font-weight: bolder;
    color: rgba(255, 255, 255);

    /*border white with light shadow*/
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000,
        -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
}
.home-title-under {
    font-size: 65px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px 0 #000,
        -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
}

.home-register-button {
    width: 150px;
    aspect-ratio: 1;
    background-color: rgb(255, 255, 255, 0);
    outline-offset: calc(150px / -2);
    cursor: pointer;
    transition: 0.5s;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.home-register-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    outline: 10px solid #ffffff;
    outline-offset: 15px;
    font-size: 25px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 0 #000, -1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 1px 1px 0 #000,
        -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 5px #000;
    transition: 0.5s ease-in-out;
    border: none;
    background-color: #ffefbc;
}

.text-title {
    text-align: center;
    margin: 40px 0;
    font-style: italic;
    .title-span-1 {
        font-weight: bold;
        font-size: 45px;
        padding: 2%;
        background-color: #cfedff;
        margin: 0px 3%;
        border-radius: 100px;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      -webkit-text-stroke: 1px rgb(40, 39, 39); 
      color: rgb(0, 128, 255);
    }
    .title-span-2 {
        font-weight: 400;
        font-size: 20px;
    }
    .title-span-3 {
        font-weight: 400;
        font-size: 20px;
        color: rgb(12, 47, 249);
    }
    .title-course-home {
        font-size: 30px;
        font-style: italic;
        font-weight: bold;
        color: #045edd;

        span {
            color: #e62e2e;
        }
    }
}

.decor-bar {
    width: calc(100% - 30px);
    max-width: 1170px;
    margin: 0 auto;
    height: 8px;
    border-radius: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(#045edd), to(#ef4136));
    background-image: linear-gradient(to right, #0077ff, #ef4136);
}
