.btn-choose-course {
    background-color: #ff2222;
    font-weight: bold;
    padding: 5px 20px;
    color: #ffffff;
    text-align: center;
    border: #ffffff;
    border-radius: 40px;
}
.box-frame-regis {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.box-regis {
    background-color: #ffffff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.w-85 {
    width: 85%;
}
