body::-webkit-scrollbar {
    width: 10px;
  }
   
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
   
  body::-webkit-scrollbar-thumb {
    background-image: linear-gradient(213deg, rgba(8,110,232,1) 7%, rgba(131,200,255,1) 52%, rgba(42,139,255,1) 97%);
    border-radius: 50px;
  }
  
//Header

.bg-header{
    background-color:#0F62F9 ;
}
.bg-btn-login{
    background-color:#0f4dbf ;

}
//Nav
.hover-nav{
    color: #ffffff;
}
.hover-nav:hover{
    background-color: white;
    color: #0f4dbf ;
    border-radius: 20px;
}
.dropdown-menu[data-bs-popper] {
    top: 100%;
    left: 28px;
    margin-top: var(--bs-dropdown-spacer);
    text-align: center;
}
.nav-link:focus, .nav-link {
    color: #fff;
}
//Slider
.height-slide{
    height: 45%;
}


