.nav-header {
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s;
    z-index: 1;
    max-width: 100%;
    width: 100%;
}
.nav-header .nav-menu a {
    margin: 0px 35px;
    font-size: 20px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    text-decoration: none;
    color: white;
    &:hover {
        background-color: white;
        border: 1px solid rgb(217, 217, 217);
        color: rgb(35, 86, 255);
        font-size: 22px;
        transition: 0.2s ease-in-out;
        padding: 5px 10px;
        border-radius: 25px;
    }
    button {
        font-size: 15px;
        font-weight: bold;
        background-color: red;
        color: white;
        padding: 10px 20px;
        border: 1px solid white;
        border-radius: 50px;
        transition: 1s;
    }
}
.img-navbar {
    width: 300px;
    height: 100px;
    margin: 0 30px;
    transition: 1s;
}
.img-navbar-fix {
    width: 180px;
    height: 70px;
    margin: 0 30px;
    transition: 1s;
}

.nav-fixed {
    position: fixed;
    top: 0;
    left: 0;
    transition: 1s ease-in-out;
    max-width: 97%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    margin: 20px;
    z-index: 10;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.nav-fixed .nav-menu a {
    margin: 0px 35px;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    text-align: center;
    color: black;
    text-decoration: none;
    button {
        font-size: 17px;
        font-weight: bold;
        background-color: red;
        padding: 10px 20px;
        color: white;
        border: 1px solid white;
        border-radius: 50px;
    }
}
span.ant-dropdown-menu-title-content {
    text-align: center;
}
@media only screen and (max-width: 1200px) {
    .nav-header {
        position: fixed;
        top: 0;
        left: 0;
        transition: 0.6s;
        z-index: 10;
        max-width: 100%;
        width: 100%;
    }

    a.nav-link {
        color: black;
        font-size: 15px;
        font-weight: 600;
    }

    .nav-menu a button {
        font-size: 15px;
        font-weight: 600;
        margin-top: 10px;
        background-color: red;
        color: white;
        padding: 10px;
        border: 1px solid white;
    }
    .nav-fixed {
        position: fixed;
        top: 0;
        left: 0;
        transition: 1s ease-in-out;
        width: 94%;
        background-color: rgb(255, 255, 255);
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        z-index: 10;
    }
    .img-navbar {
        width: 200px;
        height: 80px;
        margin: none;
    }

    .nav-menu a {
        margin: 0px 35px;
        font-size: 18px;
        font-weight: bold;
        align-self: left;
        line-height: 50px;
        text-decoration: none;
        color: rgb(8, 103, 255);
        &:hover {
            background-color: rgb(178, 210, 255);
            border: 1px solid rgb(217, 217, 217);
            color: rgb(0, 60, 255);
            transition: 0.2s;
            padding: 3px 10px;
        }
        button {
            font-size: 15px;
            font-weight: bold;
            background-color: red;
            color: white;
            padding: 10px 20px;
            border: 1px solid white;
            border-radius: 50px;
            transition: 1s;
        }
    }
    .btnlogin {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 410px) {
    .img-navbar {
        width: 100px;
        height: 40px;
        margin: none;
    }
    .nav-fixed {
        position: fixed;
        top: 0;
        left: 0;
        transition: 1s ease-in-out;
        width: 90%;
        background-color: rgb(255, 255, 255);
        border-radius: 15px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        z-index: 10;
    }
    .nav-menu a {
        margin: 0px 35px;
        font-size: 15px;
        align-self: center;
        text-align: center;
        text-decoration: none;
        color: rgb(1, 73, 255);
        &:hover {
            background-color: rgb(176, 213, 255);
            border: 1px solid rgb(217, 217, 217);
            color: rgb(255, 255, 255);
            font-size: 22px;
            transition: 0.2s ease-in-out;
            padding: 5px 10px;
            border-radius: 25px;
        }
    }
}
